*{
  margin:0;
  padding:0;
}
.slider{
  width:1400px;
  height:900px;
  margin:0 auto;
}
.up, .preview{
 position:relative;
 width:100%;
 height:600px;
}
.preview{
  border:1px solid red;
  height:300px;
}
.preview img{
  display:inline;
  height:100%;
  width:19%;
  margin:0 3px;
}
.left, .right{
 position:relative;
 height:100%;
 width:194px;
 border: 0.5px solid blue;
 display:inline;
}
.left, .right, .screen{
 position:relative;
 display:inline-block;
}
.screen{
  //border:0.5px solid green;
  width:1000px;
  height:100%;
}
.left{
  background:url("http://pixsector.com/cache/852dce6a/avb91899cb3246210ca63.png");
  background-size:contain;
}
.right{
  background:url("http://www.seeicons.com/images/iconstore/512/seeicons__577f762bc10da.png");
  background-size:contain;
}
